.productContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 31.25rem 1fr;
    grid-template-rows: 1rem 1fr 1rem;

    .productContent {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2rem 1rem 17rem;

        .productName {
            grid-column: span 2;
            grid-row: 1 / 2;
        }

        .productSku {
            grid-column: span 2;
            grid-row: 2 / 3;
        }
    }
}